<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PLAY - ON, Start Music</title>
   <link rel="shortcut icon" href="{{ url_for ('static', filename='favicon_io/favicon-main.png') }}">

  <!-- Bootstrap core CSS -->
 <link href=" {{ url_for ('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
    <link href=" {{ url_for ('static', filename='vendor/fontawesome-free/css/all.min.css') }} " rel="stylesheet" type="text/css">

   <link href="{{ url_for ('static', filename='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')}}" rel='stylesheet' type='text/css'>

  <link href="{{ url_for ('static', filename='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800') }}" rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for ('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

 <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/boot.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/trycss.css')}}">
<style type="text/css">
  .changepass {
  width: 50%;
}
.forcontainer {
  border: 2px solid #444;
  padding: 10px;
  font-size: 0.8em !important;
}
label {
  font-family: fantasy !important;
}
.mybut {
  border-radius: 15px;
  padding: 10px;
  color: white;
  background-color: #444;
}
</style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
             <a class="nav-link">Hello, {{adminname}}</a>
          </li>
        </ul>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard//{{adminname}}">Dashboard</a>
          </li>
           {% if adminname == params["mainadmin"] %}
          <li class="nav-item">
            <a class="nav-link" href="/addadmin/{{adminname}}">Add Admin</a>
          </li>
          {% endif %}
          <li class="nav-item">
          <div class="dropdown">
  <button class="dropbtn">MyAccount <i class="fa fa-caret-down"></i></button>
  <div class="dropdown-content">
    <a class="nav-link" href="/adminpassword/{{adminname}}">Change Password <i class='fas fa-file-signature' style="font-size: 1.3em;"></i></a>
    <a class="nav-link" href="/adminlogout/{{adminname}}">Logout Session <i class="fas fa-sign-out-alt" style="font-size: 1.4em;"></i></a>
  </div>
</div>
   </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="masthead" style="background-image: url(  '{{ url_for ('static', filename='img/home.jpg')}}'  )">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>PLAY - ON Admin Panel</h1>
            <span class="subheading">Manage your songs and edit them</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<hr>

<center>
<div class="changepass">
  <div class="forcontainer">
    <div class="myactions">
  <form action="/adminpassword/{{adminname}}" method="post">
    <label for="currentpassword">Current Password:</label>
  <input type="password" placeholder="current password" id="currentpassword" name="currentpassword"><br><br>
    <label for="newpassword">New Password:</label>
    <input type="password" placeholder="password" id="newpassword" name="newpassword"><br><br>
    <label for="renewpassword">Verify Password:</label>
    <input type="password" placeholder="re-enter password" id="renewpassword" name="renewpassword"><br><br>
    <button class="mybut" type="submit">Change Password</button>
  </form>
  </div>
</div>
</div>
</center>
  <hr>
 <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="{{params['tw_url']}}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{params['fb_url']}}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{params['gb_url']}}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Play-ON 2021</p>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript">
    alert('{{message}}')
  </script>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for ('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for ('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for ('static', filename='js/clean-blog.min.js')}}"></script>

</body>

</html>

